- provide(:title, @user.name)

.row
  %aside.col-md-4
    %section.user_info
      %h1
        = image_tag @user.avatar.url(:thumb), class: "user-profile"
        = @user.name
  .col-md-8
    -if @user.tweets.any?
      %h3 Tweets
      = @user.tweets.count
      %ol.tweets
        = render 'shared/tweet', locals: { tweets: @tweets }
