%h4 オススメユーザー
%ul
  - users.each do |user|
    %li
      = render 'shared/avatar_judge', user: user
      %span.user= link_to user.name, user
= link_to "知り合いを見つけよう", users_path, class: "message fa fa-users", aria:{hidden: "true"}
