%textarea#talkapi__input{placeholder: "Let's talk with Twitter bird", type: "input", rows: "3", maxlength: "140", class: "form-control"}
%button#talkapi__request{type: "button", class: "btn btn-info"} Send
.reaction_bird
  = image_tag("twitter.png", size:"30x30", alt:"twitter-logo")
%p#talkapi__reply
%ul.talk_history
