.edit-profile__background{
  background-color: #fff;
  padding-bottom: 15px;
}

.section.edit-profile__form{
  padding: 20px;
  margin-bottom: 40px;
  .field{
    margin: 15px 0;
  }
  .field.current_password{
    margin: 35px 0 15px;
  }
}

.section.delete-profile__form{
  padding: 20px;
  margin-bottom: 20px;
}
