.recommend_info {
  background-color: #fff;
  margin-top: 10px;
  border: 5px solid #f8f8f8;
  padding: 5px;
  h4{
    font-weight: bold;}
  ul{
    list-style: none;
    margin: 0;
    li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    img{
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
    .follow_form{
      width: 100px;
      margin-top: 5px;
      margin-left: 50px;
      .follow{
        border-radius: 40px;

      }
    }
    }
   }
   .message{
      text-align: center;
      padding: 10px;
    }
    .btn-primary{
          background-color: #fff;
          border-color: #1DA1F2;
          color: #1DA1F2;
        }
}
