.tweets {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
  }
  .img {
      display: block;
      padding: 5px 0;
      border-radius: 10px;
      margin-left: 55px;
    }
  .timestamp {
    color: #d3d3d3;
    display: block;
    margin-left: 60px;
  }
  .user-profile {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  form{
    margin-left: 58px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

ol.tweets{
  li{
    list-style: none;
  }
}

.detail-info{
  margin-top: 20px;
}
